<form action="CreateZanr" method="post">


    <div class="text-danger">
        @ViewBag.ErrorMessage
    </div>

    <div class="form-group">
        <label for="zanr">Unesi Zanr:</label>
        <input type="text" id="zanr" name="zanr" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>