<form action="CreateUzrast" method="post">


    <div class="text-danger">
        @ViewBag.ErrorMessage
    </div>

    <div class="form-group">
        <label for="uzrast">Unesi uzrast:</label>
        <input type="text" id="uzrast" name="uzrast" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>