<form action="CreateJezik" method="post">


    <div class="text-danger">
        @ViewBag.ErrorMessage
    </div>

    <div class="form-group">
        <label for="jezik">Unesi Jezik:</label>
        <input type="text" id="jezik" name="jezik" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>