
<div class="about-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="abouttitle">
                    <h2>O Nama</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="aboutheading">
                    <span>
                        Dobrodošli u našu knjižnicu, mjesto gdje se svaka stranica pretvara u nevjerojatnu avanturu, a svaka riječ postaje putovanje kroz svjetove mašte i znanja.
                    </span>
                </div>
            </div>
        </div>
        <div class="row border">
           
                <div class="about-box">
                    <p>
                        Dobrodošli u Našu Knjižnicu !

                        Već više od 5 godina služimo zajednici pružajući pristup bogatoj zbirci knjiga, digitalnim resursima i raznovrsnim programima. Naša misija je poticanje čitanja, podrška cjeloživotnom učenju i obogaćivanje kulturnog života.

                        Aktivno surađujemo s lokalnim školama, kulturnim institucijama i nevladinim organizacijama kako bismo promicali obrazovanje i kulturu. Ponosni smo što doprinosimo razvoju naše zajednice.

                        Pozivamo sve da nas posjete i istraže svijet knjiga i znanja. Dobrodošli u Našu Knjižnicu – vaše središte znanja, kulture i zajedništva.
                    </p>
                 
                </div>
          
           
        </div>
    </div>
</div>
     
<!-- end about -->